body{
    background-image: url(slike/b&w1.png);
}

.prvi{
    text-align: center;
    height: 120px;
    padding: 10px;
}

.holder{
    margin: auto;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
}

#canvas{
    position: relative;
}

#canvas2{
    position: absolute;
    left: 0;
    top: 0;
} 

.tretji{
    height: 100px;
    margin: 0 auto;
}

button{
    height: 20px;
    width: 40px;
    
}

